# --- Project Specific ---
.env

# --- VS Code ---
.vscode/

# --- Jupyter Notebook ---
.ipynb_checkpoints/

# --- Python Environment & Cache ---
__pycache__/
.venv/
venv/
env/
*.py[cod]

# --- Mac/Windows System Files ---
.DS_Store
Thumbs.db